@page "/editcustomer/{Id:int}"
@inject NavigationManager NavigationManager
@inject HttpClient _http
@inject IJSRuntime JsRuntime

<h1>Edit Customer</h1>

<EditForm Model="@model" OnValidSubmit="@UpdateCustomer">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <input value="@model.Id" type="hidden" />

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="FirstName" class="control-label">First Name</label>
                <input form="FirstName" class="form-control" @bind="@model.FirstName" />
            </div>
            <div class="form-group">
                <label for="LastName" class="control-label">Last Name</label>
                <input form="LastName" class="form-control" @bind="@model.LastName" />
            </div>
            <div class="form-group">
                <label for="PhoneNumber" class="control-label">Phone Number</label>
                <input form="PhoneNumber" class="form-control" @bind="@model.PhoneNumber" />
            </div>
            <div class="form-group">
                <label for="DateOfBirth" class="control-label">Date Of Birth</label>
                <input form="DateOfBirth" type="date" class="form-control" @bind="@model.DateOfBirth" />
            </div>
            <div class="form-group">
                <label for="Email" class="control-label">Email</label>
                <input form="Email" class="form-control" @bind="@model.Email" />
            </div>
            <div class="form-group">
                <label for="BankAccountNumber" class="control-label">Bank Account Number</label>
                <input form="BankAccountNumber" class="form-control" @bind="@model.BankAccountNumber" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</EditForm>

@code {
    static List<GetCustomersQueryResult> Customers;
    Customer model = new();

    [Parameter]
    public int? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
        {
            NavigationManager.NavigateTo("customerlist");
        }

        HttpResponseMessage response = await _http.PostAsJsonAsync<CustomerSearchDTO>("GetCustomers", new CustomerSearchDTO { Id = Id }).ConfigureAwait(false);
        string resultString = await response.Content.ReadAsStringAsync();
        ServiceResponse<List<GetCustomersQueryResult>>? result = JsonConvert.DeserializeObject<ServiceResponse<List<GetCustomersQueryResult>>>(resultString);

        if (result.ResultStatus == ResultStatus.Successful)
        {
            model.BankAccountNumber = result.Data.FirstOrDefault().BankAccountNumber;
            model.DateOfBirth = result.Data.FirstOrDefault().DateOfBirth;
            model.FirstName = result.Data.FirstOrDefault().FirstName;
            model.LastName = result.Data.FirstOrDefault().LastName;
            model.Email = result.Data.FirstOrDefault().Email;
            model.PhoneNumber = result.Data.FirstOrDefault().PhoneNumber;
            model.Id = Id;
        }
        else
        {
            NavigationManager.NavigateTo("Accounts");
        }
    }

    protected async void UpdateCustomer()
    {
        HttpResponseMessage responseMessage = await _http.PostAsJsonAsync<Customer>("UpdateCustomer", model).ConfigureAwait(false);
        string resultString = await responseMessage.Content.ReadAsStringAsync();
        ServiceResponse<int>? result = JsonConvert.DeserializeObject<ServiceResponse<int>>(resultString);

        if (result.ResultStatus == ResultStatus.Successful)
        {
            await JsRuntime.InvokeVoidAsync("alert", result.Message);
            model = new Customer();
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", string.Join(',', result.Errors));
        }
    }


    void Cancel()
    {
        NavigationManager.NavigateTo("customerlist");
    }
}
